*{
    box-sizing: border-box;
}
input, textarea{
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: 10px;
    border: 2px solid #aaa;
    outline: none;
}


textarea{
    resize: none;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    gap: 10px
}

.form{
    background-color: #ddd;
    border: 1px solid #aaa;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 40vh;
    align-items: center;
    height: 60vh;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    
    justify-content: space-around;

}

.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
}

label{
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.botao-form{
    padding: 10px;
    border-radius: 20px;
    width: 20vh;
}

.botao-form:hover{
    background-color: #ccc;
}