*{
    box-sizing: border-box;
}
:root {
    --azul-navbar: rgb(20, 76, 92);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(159, 180, 187, 0.26);
}


.barra-navegacao{
    background-color: var(--azul-navbar) !important;
}

.nav-link{
    color: whitesmoke !important;
    font-size: 1.2rem;
    
}

.nav-item{
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 0vh;
}

.navbar-toggler{
    color: rgb(104, 105, 131) !important;
    background-color: rgb(228, 227, 227);
}