* {
    box-sizing: border-box;
}

body, ul, li {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style-type: none;

}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 76, 92);
    width: 100%;
    padding: 0 10px;
    
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.menu li {
    padding: 1vh 1vh 1vh 1vh;
    margin-left: 10px;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: rgb(173, 225, 240);
}

